* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #f4f6fb;
   overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  width: 100%;
}
#root:has(.login-wrapper) {
  display: block;
}


 .main-content {
  flex: 1;
  margin-left: 260px;  
  padding: 30px;
  min-height: 100vh;
  transition: all 0.3s ease;
  background: #f4f6fb;
  width: calc(100%-260px);
}
@media (max-width: 900px) {
  #root {
    flex-direction: column;
  }

  .main-content {
    margin-left: 0 !important;
    padding: 20px;
    width: 100%;
  }
}

.Toastify__toast {
  border-radius: 12px;
  font-size: 14px;
}

.Toastify__toast--success {
  background: linear-gradient(135deg, #22c55e, #16a34a);
}

.Toastify__toast--error {
  background: linear-gradient(135deg, #ef4444, #dc2626);
}

.Toastify__toast-body {
  color: #ffffff;
  font-weight: 600;
}

/* .login{
  display: flex;
  justify-content: center;
  align-items: center;
} */